<extend name="Public/base"/>
<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript">
        function check(){
            if(document.getElementById('tags').value == ""){
                $("#tags").siblings("span").text('*标签不能为空');
                document.getElementById('tags').focus();
                return false;
            }
            else{
                return true;
            }
        }
    </script>
    <div class="main-title cf">
        <h2>
            添加菜单
        </h2>
    </div>

    <!-- 标签页导航 -->
    <div class="tab-content">
        <!-- 表单 -->
        <form id="form" action="{:U('saveMenu')}" name="frm" method="post" onsubmit="return check()" onreset="cancle()">
            <!-- 基础文档模型 -->
            <div class="form-item cf">
                <label class="item-label">菜单名称<span class="check-tips"></span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="name" value="" id="name"><span style="color:red;"></span>
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">链接<span class="check-tips"></span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="url" value="" id="url"><span >(添加二级菜单时一级菜单链接将失效)</span>
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">排序<span class="check-tips"></span></label>
                <div class="controls">
                    <input type="text" class="text input-large" name="order" value="" id="order"><span ></span>
                </div>
            </div>
            <div class="form-item cf">
                <label class="item-label">菜单分组<span class="check-tips"></span></label>
                <div class="controls">
                    <select name="group" id="">
                        <option value="0">无</option>
                        <volist name="group" id="g">
                            <option value="{$g.id}">{$g.name}</option>
                        </volist>
                    </select>
                </div>
            </div>
            <br>

            <div class="form-item ">
                <input type="submit" value="确定" class="btn submit-btn">
                <input type="reset" value="取消" class="btn submit-btn">
            </div>
        </form>
    </div>
</block>
