body{
	margin: 0px;
	font-family: tahoma, arial, 'Hiragino Sans GB', 'Microsoft YaHei', 宋体, sans-serif;
	-webkit-tap-highlight-color: transparent;
}
ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
img{
	vertical-align: sub;
}
::-webkit-input-placeholder {
    color: #ddd;
}
.overflow-hidden{
	overflow: hidden;
	height: 100%;
}
[type='text']{
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-left: 10px;
	padding-right: 0px; 
}
[type='text'],textarea{
	box-shadow: 0px 0px 0px rgba(0,0,0,0);  
    -webkit-appearance: none;
}
.red-border{
	border-color: red !important;
}
.btn{
	background-color: #24C0D7;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #FFFFFF;
	position: relative;
	outline-width: 0px;
	box-shadow: none !important;
}
.btn[disabled]{
	cursor: not-allowed;
	pointer-events: none;
	opacity: .5;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.border-top{
	border-top: 1px solid #CCCCCC;
}
.easyalert-mask{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: transparent;
	z-index:999999;
	padding: 0px 40px;
}
.easyalert{
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	top: 50%;
	color: #fff;
	z-index: 999;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
}
.hide{
	display: none;
}