<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css" />
    <link rel="stylesheet" href="__CSS__/weui.min.css"/>
    <link rel="stylesheet" href="__CSS__/jquery-weui.min.css"/>
    <link rel="stylesheet" href="__CSS__/style.css"/>
    <script type="text/javascript" src="__JS__/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery-weui.min.js"></script>
    <!--<script type="text/javascript" src="js/city-picker.js" charset="utf-8" ></script>-->
    <script src="https://cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>
    <title>帮助</title>
</head>
<body>
<style>
    .tit-m{
        text-align: center;
    }
    .block p{
        text-indent: 2em;;
    }
</style>
<div id="tab4" class="weui-tab__bd-item">
    <div class="dy-nav">
        <div class="page-about-content" >
            <h2 class="tit-b" style="text-align: center;">关于我们</h2>

            <div class="block">
                <h4 class="tit-m">关于创业邦</h4>

                <p>创业邦成立于2007年，是中国领先的专业创业服务平台，致力于帮助创业者实现创业梦想，推动各领域高成长企业快速发展。</p>

                <p>创业邦为创业者提供高价值的资讯与服务，推动中国创新创业。旗下拥有传媒互动、创业孵化、融资服务等业务。</p>
            </div>

            <h4 class="tit-m">产品与服务</h4>

            <div class="block"><strong class="tit-s">创业邦传媒</strong>

                <p>包括 创业邦网站、杂志、App、微信公众号、微博、数据库、创业创新榜单、研究报告及峰会等，为创业者提供全方位、高价值的资讯与数据服务。 创业邦100未来领袖峰会每年一届，发布“ 创业邦100”榜单，致力于挖掘具备独角兽潜质的创新公司。</p>
            </div>

            <div class="block"><strong class="tit-s">创新中国DEMO CHINA</strong>

                <p>创新产品服务、商业模式的展示平台。2006年开始举办，2015年，每届峰会已达万人规模，超过1500位一线投资人列席、100余个创新项目进行展示。已累计助力500余家企业融资超过30亿美元。</p>
            </div>

            <div class="block"><strong class="tit-s">创业邦成长营BANG CAMP</strong>

                <p>每期成长营为60个创新项目提供90天的孵化加速服务。通过产品打磨、商业模式梳理、融资演练、推广分析、领导力沙盘等系统实战培训，助力创业者思维通道和能力结构的快速搭建。2016年计划开办5期。</p>
            </div>

            <div class="block"><strong class="tit-s">创业邦创新空间DEMO SPACE</strong>

                <p>创业邦旗下实体创新孵化空间，集创业邦媒体、活动、投资、导师、社群等资源优势，为初创企业提供优质办公空间和全面孵化加速服务。2016年，创业邦孵化器已在北京、上海、深圳、广州、杭州、苏州、成都、重庆、南京、常州等10个城市开放。</p>
            </div>

            <div class="block"><strong class="tit-s">创业邦天使基金</strong>

                <p>专注于早期高科技领域的投资，并为所投资公司提供公司治理、人才引进、资源合作、融资咨询等增值服务。 创业邦天使基金同时拥有美元及人民币基金，截止到2015年底，已投资30余个创业项目。</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>