
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>立法</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="阿里巴巴国际UED前端">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <!-- Google Web Fonts -->

    <link rel="stylesheet" href="http://m.sui.taobao.org/dist/css/sm.css">
    <link rel="stylesheet" href="http://m.sui.taobao.org/dist/css/sm-extend.css">
    <link rel="stylesheet" href="http://m.sui.taobao.org/assets/css/demos.css">

    <link rel="apple-touch-icon-precomposed" href="http://m.sui.taobao.org/assets/img/apple-touch-icon-114x114.png">
    <script src="http://m.sui.taobao.org/assets/js/zepto.js"></script>
    <script src="http://m.sui.taobao.org/assets/js/config.js"></script>
    <script>
      //ga
    </script>
    <script>
var _hmt = _hmt || [];
(function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?ba76f8230db5f616edc89ce066670710";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();
</script>
<style type="text/css">
	.swiper-container {
    width: 100%;
    height: 100px;
}  
</style>
  </head>
  <body>
    <div class="page-group">
    <div id="page-fixed-tab-infinite-scroll" class="page"  data-distance="40">
  <header class="bar bar-nav">
   
    <h1 class="title">立法</h1>
    
  
  </header>
 

 <div class="content" data-type="">
 <div class="swiper-container"  data-space-between='0' data-pagination='.swiper-pagination' data-autoplay="1000" >
    <div class="swiper-wrapper">
      <div class="swiper-slide"><span style="position: absolute; top: 50%; left: 40%;">立法立德</span><img style="hight:100px" src="http://www.scspc.gov.cn/dwjl/201708/W020170821544233943273.jpg" alt=""></div>
      <div class="swiper-slide"><span style="position: absolute; top: 50%; left: 40%;">立法立德</span><img style="hight:100px" src="http://www.scspc.gov.cn/lfgz/lfdt/201708/W020170824409036422663.jpg" alt=""></div>
      <div class="swiper-slide"><span style="position: absolute; top: 50%; left: 40%;">立法立德.</span><img style="hight:100px" src="http://www.scspc.gov.cn/jggz/201708/W020170823393009536802.jpg" alt=""></div>
    </div>
    
  </div>

  
    <div class="buttons-tab fixed-tab" data-offset="0">
        <a href="#tab1" class="tab-link active button">动态</a>
      <a href="#tab2" class="tab-link button">计划</a>
      <a href="#tab3" class="tab-link button">公示</a>
      <a href="#tab4" class="tab-link button">新法</a>
    </div>
 
    <div class="tabs">
    	    <div id="tab1" class="tab active infinite-scroll card">
          <div class="list-block  media-list card">
            <ul class="list-container">
            	 
            </ul>
          </div>
          <!-- 加载提示符 -->
          <div class="infinite-scroll-preloader">
            <div class="preloader">
            </div>
          </div>
      </div>

     
      <div id="tab2" class="tab infinite-scroll">
           <div class="list-block  media-list card">
            <ul class="list-container">
            	 
            </ul>
          </div>
          <!-- 加载提示符 -->
          <div class="infinite-scroll-preloader">
            <div class="preloader">
            </div>
          </div>
      </div>
      <div id="tab3"  class="tab infinite-scroll">
          <div class="list-block  media-list card">
            <ul class="list-container">
            	 
            </ul>
          </div>
          <!-- 加载提示符 -->
          <div class="infinite-scroll-preloader">
            <div class="preloader">
            </div>
       </div>
      </div>
        
      <div id="tab4" class="tab infinite-scroll">
           <div class="list-block  media-list card">
            <ul class="list-container">
            	 
            </ul>
          </div>
          <!-- 加载提示符 -->
          <div class="infinite-scroll-preloader">
            <div class="preloader">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
    </div>
    <script src="http://m.sui.taobao.org/dist/js/sm.js"></script>
    <script src="http://m.sui.taobao.org/dist/js/sm-extend.js"></script>
    <script src="http://m.sui.taobao.org/dist/js/sm-city-picker.js"></script>
    <script src="__STATIC__/datetimepicker/js/push.js"></script>
  </body>
</html>
